
<h1>Developers</h1>

<% if @dev.errors.any? %>
    <% @dev.errors.full_messages.each do |e| %>
    <p> <%= e %> </p>
    <% end %>
<% end %>

<ul>
    <% @devs.each do |d| %>
        <li><%= link_to d.name, @dev %></li>
    <% end %>
</ul>
