
<h1>Developers</h1>


<ul>
    <% @devs.each do |d| %>
        <li><%= link_to d.name, @dev %></li>
    <% end %>
</ul>
<ul>
    <% @projects.each do |project| %>
    <li> <%= project.name %> </li>
    <% end %>
</ul>