<h1>Welcome To Home Page!</h1><br />

<% @users.each.with_index(1) do |user, index| %>
    <div class="field col-4">
    <fieldset class="border border-info rounded p-2">
        <legend class="w-auto"><%= "User" %> <%= index %></legend>
        <h5>Name: <%= user.name %></h5>
        <h5>Email: <%= user.email %></h5><br />
        </fieldset>
    </div>
<% end %>
