<% if !params[:client].blank? %>
  <% @projects = Project.where(client: params[:client]) %>
<% end %>


<% @projects.each do |project| %>
<div>
    <h3><%= link_to project.name, project %></h3>
    <h5>by: <%= link_to project.client.name, client_path(project.client) %></h5>
    <h3><%= project.description %></h3>
<div>
<% end %>
