<h1>home</h1>

<h1>Your Profile</h1>


<h3> <%= current_user.name %> </h3>


<% if current_user %>
<%= link_to 'Create Project', new_project_path %>
<%= link_to 'Create Client', new_client_path %>
<% end %>